@{
    ViewBag.Title = "Home Page";
}

<div>

    <div>
        <form action="/Home/HolidaysOfMonth" method="post">
            
            <label>Print holiday: </label>
            <input type="submit" name="enterFormSelectMonth" value="Accept"/>

        </form>
    </div>

</div>